/*!
 *Headers for IOPN
  */

.iopn_header_scalar {
    background-color: #192947;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2))
}

#iopn_mark {
    margin-left: 20px;
}

@media (min-width: 768px){
    #scalarheader.short{
        transform : translatey(-8rem);
        -webkit-transform : translatey(-8rem);
        -moz-transform : translatey(-8rem);
    }
}

.iopn_header_omekas_s {
    background-color: #192947;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2))
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.footer-library {
    all: revert;
    background-color: #022544;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    font-size: 16px;
    line-height: 24px; }

.footer-library a:visited {
    text-decoration: none;
    color: #ffffff;
}
.footer-library_right a {
    text-decoration: none; }

.footer-library a:hover {
    color: #ffffff;
    text-decoration: underline;}

footer.footer-library {
    background-color: #022544; }

.footer-library_left,
.footer-library_right {
    text-align: center;
    margin-bottom: 30px; }

.footer-library_right nav,
.footer-library_right li,
.footer-library_right a,
.footer-library_right a:hover {
    color: #ffffff; }

.footer-library_right li {
    margin-bottom: 5px;
    list-style: none; }

.footer-library_right ul {
    padding: 0px;
    margin-top: 0px; }

.footer-library li{
    margin-top:-5px;}
.footer-library p{
    font-weight: bold}
